.Card {
  z-index: 1;
  padding: 8px 12px 0 12px;
  /*margin-top: -8px;*/
  background-color: #fff;
  border-radius: 8px 8px 0 0;
}

.Card p {
  border-radius: 8px;
  background-color: rgba(199, 199, 199, 0.18);
}
.Card p:only-child {
  margin-top: 8px;
  text-align: center;
  padding: 16px;
}
.Card p:empty {
  display: none;
}

/* Pagging Systemes */

.pagging {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

.pagging > * {
  width: 4px;
  height: 4px;
  margin: 0 2px;

  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.4);
}

.pagging > *[nav-selected="true"] {
  background-color: rgb(0, 90, 224);
}
