.softkey {
	/* Position */

	z-index: 2;
	/* layout */
	width: 100%;
	padding: 14px 16px;
	/* children behaviour */
	display: flex;
	justify-content: space-between;

	/* style */
	background-color: #fff;

	/* Text */
	line-height: 1.2em;
	font-weight: 400;
	color: rgb(0, 90, 224);
	text-align: center;
}

.softkey > *:only-child {
	width: 100%;
	font-weight: 700;
	text-align: center;
}
